.wrapper {
  width: 100%;
  height: 80.5vh;
  background-color: var(--bg);
  margin-top: 12vh;
  color: var(--blue);

  .post {
    width: calc(100% - 6vw);
    height: calc(100% - 2vw);
    padding: 1vw 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -2vh;

    .textWrapper {
      width: 100%;
      max-height: 49%;
      height: fit-content;
      margin-bottom: 2%;

      .nazov {
        font-size: 4vh;
        font-weight: bold;
      }

      .datum {
        font-style: italic;
        margin: 0.5vh 0;
      }

      .popis {
        font-size: 2.35vh;
      }
    }

    .imageWrapper {
      width: 100%;
      height: fit-content;
      max-height: 52vh;
      display: flex;

      .mainImage {
        width: calc(50% - 2px);
        height: 100%;
        margin-right: 2px;
        border-radius: 15px 0 0 15px;
      }

      .obrazky {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;

        img {
          width: calc(50% - 2px);
          height: calc(100% - 2px);
          max-width: 50%;
          max-height: 100%;
        }

        .horne {
          width: 100%;
          height: 50%;

          .lu {
            margin-right: 2px;
          }

          .ru {
            border-radius: 0 15px 0 0;
            margin-left: 2px;
          }
        }

        .dolne {
          width: 100%;
          height: 50%;
          display: flex;
          margin-top: 2px;

          .ld {
            margin-right: 2px;
          }

          .viacObrazkov {
            position: relative;
            text-align: center;
            height: calc(100% - 2px);
            width: calc(50% - 2px);
            margin-left: 2px;

            .obrazok {
              height: 100%;
              width: 100%;
              min-width: 100%;
              opacity: 0.65;
              border-radius: 0 0 15px 0;
            }

            .filter,
            .pocet {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }

            .filter {
              width: 100%;
              height: 100%;
              background-color: white;
              opacity: 0.5;
              border-radius: 0 0 15px 0;
            }

            .pocet {
              font-size: 150%;
              margin: 0px;
            }
          }
        }
      }
    }
  }
}
