.wrapper {
  width: 100%;
  min-height: 80.5vh;
  background-color: var(--bg);
  color: var(--blue);
  margin-top: 12vh;

  .akcie {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .akciaBuducnost {
      width: 95%;
      max-height: 25vh;
      height: fit-content;
      margin: 1vh auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border: 1px solid var(--red);
      padding: 1vw;
      border-radius: 15px;

      &.pastBorder {
        border-color: var(--red);
      }

      &.futureBorder {
        border-color: var(--blue);
      }

      .textWrapper {
        width: 68%;
        height: 100%;

        .nazov {
          font-size: 4vh;
        }

        .datum {
          font-size: 1.9vh;
          font-style: italic;
        }

        .buttonWrapper {
          width: 100%;
          height: fit-content;
          display: flex;
          justify-content: right;

          .button {
            width: fit-content;
            height: fit-content;
            background-color: var(--red);
            padding: 3px 15px;
            border-radius: 15px;
            color: #f7f8f9;
            margin: 0 0 0 auto;
          }
        }
      }

      .imageWrapper {
        max-width: 30%;
        min-width: 5%;
        max-height: 100%;
        min-height: 100%;
        margin: auto 0;

        img {
          max-width: 100%;
          min-width: 100%;
          max-height: 100%;
          min-height: 100%;
          margin: auto 0;
        }
      }
    }

    .akciaMinulost {
      width: 95%;
      max-height: 25vh;
      height: fit-content;
      margin: 1vh auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border: 1px solid var(--blue);
      padding: 1vw;
      border-radius: 15px;

      &.pastBorder {
        border-color: var(--red);
      }

      &.futureBorder {
        border-color: var(--blue);
      }

      .textWrapper {
        width: 68%;
        height: 100%;

        .nazov {
          font-size: 4vh;
        }

        .datum {
          font-size: 1.9vh;
          font-style: italic;
        }

        .buttonWrapper {
          width: 100%;
          height: fit-content;
          display: flex;
          justify-content: right;

          .button {
            width: fit-content;
            height: fit-content;
            background-color: var(--red);
            padding: 3px 15px;
            border-radius: 15px;
            color: #f7f8f9;
            margin: 0 0 0 auto;
          }
        }
      }

      .imageWrapper {
        width: 30%;
        height: 100%;
        margin: auto 0;

        img {
          width: 100%;
          height: auto;
          margin: auto 0;
        }
      }
    }
  }
}
