.wrapper {
  width: 100%;
  min-height: 80.5vh;
  height: fit-content;
  background-color: var(--bg);
  margin-top: 12vh;
  color: var(--blue);

  .akcia {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .textWrapper {
      width: 95%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      margin: 2vh auto 0 auto;

      .nazov {
        width: fit-content;
        font-size: 4vh;
      }

      .popis {
        width: fit-content;
        margin: 1vh 0;
      }
    }

    .imageWrapper {
      width: 95%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;

      .image {
        width: calc(95% / 6);
        aspect-ratio: 1/1;
        border-radius: 15px;
        margin: 0.5vh 0;

        .img {
          width: 100%;
          height: 100%;
          border-radius: 15px;
          transition: transform 0.2s ease;

          &:hover {
            transform: scale(1.025);
          }
        }
      }
    }
  }

  .carouselWrapper {
    .backButton {
      height: 5vh;
      font-size: 4.5vh;
      display: flex;
      align-items: center;
      padding-left: 15px;
    }
    .carousel {
      width: 100%;
      max-height: 75.5vh;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .imgSliderWrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .ovladaciButtonL,
        .ovladaciButtonP {
          width: fit-content;
          height: 100%;
          position: relative;

          &::after,
          &::before {
            content: "";
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: 0;
            pointer-events: none;
            width: 2vw;
            height: 100%;
          }

          .button {
            background-color: var(--bg);
            border: 5px solid var(--blue);
            margin: 0;
            padding: 0;
            width: 7vw;
            height: 100%;
          }
        }

        .ovladaciButtonL {
          transform: rotateY(180deg);
          position: relative;
          &::after,
          &::before {
            transform: rotateY(180deg);
            background-image: linear-gradient(
              to right,
              rgba(255, 255, 255, 0),
              rgba(255, 255, 255, 1) 90%
            );
          }
        }

        .ovladaciButtonP {
          &::after,
          &::before {
            background-image: linear-gradient(
              to left,
              rgba(255, 255, 255, 0),
              rgba(255, 255, 255, 1) 90%
            );
          }
        }

        .imgSlider {
          max-width: 75vw;
          max-height: 75vh;
        }
      }
    }
  }
}
