.wrapper {
  width: 100%;
  min-height: 80.5vh;
  background-color: var(--bg);
  margin-top: 12vh;
  display: flex;
  justify-content: center;

  .prispevky {
    width: fit-content;
    height: 100%;
    margin: 5vh 0 0 2.25%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
  }
}
