.wrapper {
  width: 100%;
  font-family: "Georgia", "Cambria", "Times New Roman", Times, serif;
  min-height: 80vh;
  background-color: var(--bg);
  margin-top: 12vh;
  color: var(--blue);

  .backgroundImg {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: auto;
      max-height: 88vh;
    }

    .kontent {
      width: fit-content;
      height: fit-content;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .nazov {
        font-size: 7vw;
        margin: 0;
        color: white;
        font-weight: bold;
      }

      .button {
        width: fit-content;
        height: fit-content;
        padding: 10px 20px;
        border-radius: 15px;
        background-color: rgba(237, 28, 36, 1);
        color: white;
        border: white;
      }
    }
  }

  .posledneAkcie {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 5vh;

    .preklik {
      text-align: left;
      justify-content: left;
      font-weight: bold;
      text-decoration: none;
      color: var(--blue);
      margin-left: 5%;
    }
  }
}
