.wrapper {
  width: 100%;
  font-family: "Georgia", "Cambria", "Times New Roman", Times, serif;
  min-height: 80vh;
  background-color: var(--bg);
  margin-top: 12vh;
  color: var(--blue);

  .backgroundImg {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: auto;
      max-height: 88vh;
    }

    .kontent {
      width: fit-content;
      height: fit-content;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .nazov {
        font-size: 7vw;
        margin: 0;
        color: white;
        font-weight: bold;
      }

      .buttons {
        width: 55%;
        display: flex;
        justify-content: space-between;
        .button {
          width: fit-content;
          height: fit-content;
          padding: 10px 20px;
          border-radius: 15px;
          background-color: var(--red);
          color: white;
          border: 2px solid var(--red);
          font-weight: bold;
          font-size: 2vh;
        }

        .reversedButton {
          width: fit-content;
          height: fit-content;
          padding: 10px 20px;
          border-radius: 15px;
          background-color: transparent;
          color: var(--red);
          border: 2px solid white;
          font-weight: bold;
          font-size: 2vh;
          text-shadow: -1px -1px 0 white,
            /* Top-left shadow */ 1px -1px 0 white,
            /* Top-right shadow */ -1px 1px 0 white,
            /* Bottom-left shadow */ 1px 1px 0 white; /* Bottom-right shadow */
        }
      }
    }
  }
}
