.wrapper {
  width: 100%;
  min-height: 80.5vh;
  height: fit-content;
  background-color: var(--bg);
  margin-top: 12vh;
  color: var(--blue);
  display: flex;

  .mapWrapper {
    width: 50%;
    min-height: 80.5vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .mapa {
      position: relative;
      width: 95%;
      height: fit-content;
      opacity: 0.75;

      .mapaimg {
        width: 100%;
        margin-left: 1%;
        height: auto;
        border-radius: 12px;
      }

      .icon {
        width: auto;
        position: absolute;
        top: 0.5vh;
        opacity: 1;
        z-index: 9999;
      }
    }

    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 80%;
      height: 75.5vh;
      overflow: hidden;
      background-color: rgb(0, 0, 0);
      background-color: rgba(0, 0, 0, 0.4);
      margin: 14.5vh 0 0 10%;
      border: 3px solid var(--blue);
      border-radius: 12px;

      .modalContent {
        background-color: #fefefe;
        border: 1px solid #888;
        width: 100%;
        height: 100%;
        position: relative;

        .close {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .textWrapper {
    width: 50%;
    height: 80.5vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .text {
      width: 90%;
      height: fit-content;
      font-size: 2.3vh;

      .nadpis {
        margin: 0 0 15px 0;
        font-size: 5vh;
      }

      .label {
        font-style: italic;
        font-weight: bold;
      }

      .kontakt {
        display: flex;
        align-items: center;

        img {
          height: 2.75vh;
          width: auto;
        }

        .label {
          font-style: italic;
          font-weight: bold;
          margin: 0 5px;
        }
      }
    }
  }
}

@media (max-width: 753px) {
  .wrapper {
    flex-direction: column;

    .mapWrapper {
      width: 100%;
      min-height: fit-content;

      .mapa {
        width: 70%;
        height: 100%;
        margin: 15px 0;
      }
    }

    .textWrapper {
      width: 100%;
      height: fit-content;

      .text {
        width: 70%;
        margin-bottom: 15px;

        .nadpis {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 484px) {
  .wrapper {
    .mapWrapper {
      .mapa {
        width: 93%;
      }
    }

    .textWrapper {
      .text {
        width: 93%;
      }
    }
  }
}
