.wrapper {
  width: 100%;
  height: 7.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--layoutBG);
  z-index: 9999;

  .kontent {
    width: fit-content;
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Georgia", "Cambria", "Times New Roman", Times, serif;
    color: var(--blue);

    .lalia {
      height:55%;
      width: auto;
      padding: 0px 10px;
    }
  }
}
