.prispevok {
  width: calc(100% / 4);
  max-width: calc(100% / 4);
  aspect-ratio: 1/1;
  margin: 0 0;

  .nazov {
    margin: 5px auto;
    width: fit-content;
    color: var(--blue);
    font-weight: bold;
  }

  .obrazky {
    width: 90%;
    max-width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;

    img {
      width: calc(50% - 2px);
      height: calc(100% - 2px);
      max-width: 50%;
      max-height: 100%;
    }

    .horne {
      width: 100%;
      height: 100%;
      margin-bottom: 2px;

      .lu {
        border-radius: 15px 0 0 0;
        margin-right: 2px;
      }

      .ru {
        border-radius: 0 15px 0 0;
        margin-left: 2px;
      }
    }

    .dolne {
      width: 100%;
      height: 100%;
      display: flex;
      margin-top: 2px;

      .ld {
        border-radius: 0 0 0 15px;
        margin-right: 2px;
      }

      .viacObrazkov {
        position: relative;
        text-align: center;
        height: calc(100% - 2px);
        width: calc(50% - 2px);
        margin-left: 2px;
        
        .obrazok {
          height: 100%;
          width: 100%;
          min-width: 100%;
          opacity: 0.65;
          border-radius: 0 0 15px 0;
        }
  
        .filter,
        .pocet {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
  
        .filter {
          width: 100%;
          height: 100%;
          background-color: white;
          opacity: 0.5;
          border-radius: 0 0 15px 0;
        }
  
        .pocet {
          font-size: 150%;
          margin: 0px;
        }
      }
    }

  }
}
