html,
body {
  margin: 0px;
  font-family: "Georgia", "Cambria", "Times New Roman", Times, serif;
}

a {
  text-decoration: none;
  color: var(--blue);
}

.button {
  width: fit-content;
  height: fit-content;
  background-color: var(--red);
  padding: 5px 15px;
  border-radius: 15px;
  color: #f7f8f9;
}

.carousel .thumbs {
  margin: 0px;
  display: flex;
  align-items: center;
}

.carousel .thumbs-wrapper {
  margin: 0px !important;
}

.carousel .carousel-status {
  display: none;
}

.carousel .control-dots {
  display: none;
}

:root {
  --layoutBG: #f8f8f8;
  --blue: #2c3790;
  --bg: #fffdfd;
  --red: #ed1c24;
}
